.navbar {
    min-height: 40px;
    background-color: inherit;
    position: relative;
    color: var(--blue-color);
}
.logo {
    position: absolute;
    top: 15px;
    left: 50px;
}


.userInfo button {
    background-color: inherit;
    border: none;
    color: var(--blue-color);
    cursor: pointer;
    transition: 300ms ease-in-out;
    margin-left: 20px;
}

.userInfo button:hover {
    color: var(--high-color);
    transform: scale(1.1);
}

.userInfo {
    font-size: 20px;
    display: flex;
    position: absolute;
    right: 50px;
    top: 10px;
}