@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --white-color: #F5F5F5;
  --black-color: #212121;
  --high-color: #f9a6a6;
  --highest-color: #e57373;
  --blue-color: #536DFE;
}

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(../src/assets/background.png);
  opacity: 80%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* body.main::before {
  background: var(--white-color)
} */